:root {
  --index: calc(1vw + 1vh);
  --background: rgb(202, 228, 255);
  --background-color: rgba(26, 26, 26, 0.9);
  --active-color: rgba(126, 52, 209, 1);
  --primary-text: rgba(223, 223, 223, 1);
  --secondary-text: rgba(223, 223, 223, 1);
  --primary-icon: rgba(255, 255, 255, 1);
  --secondary-icon: rgba(61, 61, 61, 1);
  --background-slide: rgba(255, 255, 255, 1);
  --color-slide: rgba(126, 52, 209, 1);
  --btn-background: rgba(26, 26, 26, 0.6);
  --form-background: #293e52;
  --form-btn: #ffbf00;
  --error: #d00f0f;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  color: var(--primary-text);
  background-image: linear-gradient(
    to bottom,
    rgb(91, 117, 151),
    rgba(51, 97, 120, 0.4),
    rgb(91, 117, 151)
  );
}

code {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
